.canvas-container {
  display: flex;
  width: 80%;
}

/* index.css or App.css */
html, body, #root {
  min-height: 100%;
  height: auto;
  margin: 0;
  padding: 0;
/*background-image: url('/photos/Assets/ConcreteWall.png'); /* or whatever your filename is */
  background-size: cover;
  background-color: #333;
  background-position: center;
  background-repeat: repeat-y;
}



:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  width: 100%;
  display: flex;
  justify-content: center;
    --bg-color: #0a0a0a;          /*Dark Black*/
  --text-color: #f0f0f0;        /*Contrasts background (White)*/
  --accent-green: #39ff14;      /*Neon Green*/
  --accent-pink: #ff2e9a;       /*Neon Pink*/
  --accent-blue: #00d0ff;       /*Neon Blue*/
  --border-color: #333;         /*Gray Border*/
  --button-hover: #ffffff22;    /*sHover Glow*/
  background-color: #9f0a0a;    /*Red*/

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

#root {
  width: 100%;
  display: flex;
  justify-content: center;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-height: 100vh;
  width: 100%;
  background-color: white;;
  color: var(--text-color);
}

input[type="color"],
input[type="range"] {
  accent-color: var(--accent-blue);
  background: var(--bg-color);
  border: 1px solid var(--border-color);
}

label {
  color: var(--text-color);
}


h1 {
  color: var(--accent-pink);
  text-shadow: 0 0 6px var(--accent-pink);
  font-size: 2.5em;
  line-height: 1.1;
}

p {
color: var(--text-color);
text-shadow: 0 0 6px var(--text-color);
margin-bottom: 1rem;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  color: var(--accent-green);
  border: 2px solid var(--accentgreen);
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  background-color: var(--button-hover);
  box-shadow: 0 0 8px var(--accent-green);
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

.lower-canvas {
  width: 100%;
  border: 2px solid red;       /*debugging styles */
  box-shadow: 0 0 10px #00ff00; 
  background-color: #fff;      
  border-radius: 8px;          
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}
